.background {
  height: 81dvh;
  overflow: scroll;
}

.background::before {
  content: "";
  position: absolute;
  top: 8dvh;
  right: 0;
  left: 0;
  bottom: 11dvh;
  background-color: rgba(0, 0, 0, 0.6);
}

.background::-webkit-scrollbar {
  display: none;
}

.background-img {
  display: block;
  float: left;
}

@media screen and (min-width: 768px) {
  .background-img {
    width: 10dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
}

@media screen and (max-width: 768px) {
  .background-img {
    width: 20dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
}

@media screen and (max-width: 480px) {
  .background-img {
    width: 50dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
}
