.body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

.main {
  box-sizing: border-box;
  width: 100dvw;
  margin-bottom: 4dvh;
  padding-top: 2dvh;
  padding-left: 6dvw;
  padding-right: 6dvw;
}

.subject {
  align-items: center;
}

.subject p {
  font-size: 18px;
}

.subject p span {
  font-size: 24px;
  font-weight: bold;
}

.movies {
  flex-wrap: nowrap;
  display: flex;
  list-style-type: circle;
  overflow-x: auto;
  padding-bottom: 4px;
  -webkit-overflow-scrolling: touch; /* スクロール時の滑らかな動作を有効化（iOS Safari用）*/
}

.movie {
  list-style-type: none;
  margin-top: 2dvh;
  margin-bottom: 2dvh;
  margin-left: 2dvw;
  transition: all 0.2s ease 0s;
  display: inline-block;
}

.movie:nth-child(1) {
  margin-left: 0;
}

.movies::-webkit-scrollbar {
  width: 6px;
}

.movies::-webkit-scrollbar-thumb {
  background: #fffffe;
  border-radius: 8px;
}

.movies::-webkit-scrollbar-thumb:hover {
  background: #e0e0e0;
}

.movie-poster-fav-img {
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.movie:hover {
  border-radius: 4px;
  background: #232946;
  box-shadow: 20px 20px 60px #0e101c;
}

.movie-poster-fav-wrapper {
  position: relative;
}

.movie-poster-fav {
  overflow: hidden;
  box-sizing: border-box;
}

.movie:hover .movie-poster-fav-img {
  transform: scale(1.1);
}

.theater-btn {
  cursor: pointer;
  text-align: center;
  padding: 2px 12px;
  font-weight: bold;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 0 0 2px 2px;
}
.theater-btn:hover {
  background-color: #b8c1ec;
  color: #232946;
}

.movie-title {
  display: block;
  font-weight: bold;
  margin-top: 4px;
  font-size: 16px;
  transition: all 0.2s ease 0s;
}

.movie-title p a {
  text-decoration: none;
  color: #fffffe;
}

.movie-title p a:hover {
  color: #b8c1ec;
}

.movie-release-date {
  display: block;
  font-size: 14px;
  transition: all 0.2s ease 0s;
}

.movie:hover .movie-title {
  padding: 4px 4px 0 4px;
}

.movie:hover .movie-release-date {
  padding: 4px 4px 0 4px;
}

.select-button {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
}

.select-checkbox {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.select-checkbox input {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #eebbc3;
  border-radius: 5px;
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.select-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.select-checkbox .checkmark::after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #eebbc3; /* チェックの色 */
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.select-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 2px solid #dddddd; /* チェックボックスの枠線の色（非選択時） */
  border-radius: 5px;
}

.select-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.select-checkbox .checkmark::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* 中央に配置 */
  width: 6px;
  height: 12px;
  border: solid #eebbc3; /* チェックの色 */
  border-width: 0 3px 3px 0;
}

.select-checkbox input:checked ~ .checkmark {
  border-color: #eebbc3; /* チェックされた時の枠線の色 */
  border-width: 3px;
}

.clear-selection-button {
  border: solid #b8c1ec;
  border-radius: 24px;
  color: #b8c1ec;
  font-weight: bold;
  background-color: transparent;
  padding: 4px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.clear-selection-button:hover {
  background-color: #b8c1ec;
  color: #232946;
}

.create-movie-wrapper {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2dvh 2dvw;
  width: 100%;
  border-radius: 2px;
  color: #0e101c;
}

.create-movie-button {
  width: 100%;
  height: 50px;
  border-radius: 24px;
  background: linear-gradient(135deg, #eebbc3, #b8c1ec);
  color: #232946;
  font-size: 24px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}

.create-movie-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 150%;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.5s ease;
  border-radius: 50%;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
}

.create-movie-button:hover::before {
  width: 300%;
  height: 300%;
  transform: translate(-50%, -50%) scale(2) rotate(360deg);
}

.create-movie-button:hover {
  background: linear-gradient(135deg, #ff8a5b, #ffdc84);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.create-movie-button[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-left-color: #fffffe;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.loading-text {
  margin-top: 16px;
  font-size: 16px;
  font-weight: bold;
}

.detail {
  display: flex;
}

.movie-poster-wrapper {
  position: relative;
}

.movie-poster {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
}

.movie-poster-img {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.movie-title-wrapper {
  align-items: center;
  display: flex;
}

.movie-homepage-link {
  color: #b8c1ec;
  font-weight: bold;
  margin-left: 24px;
  cursor: pointer;
}

.movie-tagline {
  margin-top: 1dvh;
  font-style: italic;
  font-size: 20px;
}

.movie-release-date {
  margin-top: 1vh;
}

.movie-runtime {
  margin-left: 2dvw;
}

.movie-score {
  margin-top: 2dvh;
  display: flex;
  align-items: center;
}

.movie-score p {
  font-size: 18px;
  font-weight: bold;
}

.box {
  position: relative;
  width: 33.3333333333%;
  display: flex;
}

@media screen and (max-width: 750px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .box + .box {
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .box + .box {
    margin-top: 20px;
  }
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.box .percent svg circle {
  position: relative;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 314;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #0e101c;
}
.box .percent .number .title {
  font-size: 24px;
}
.box .percent .number .title span {
  font-size: 18px;
}

.box .percent .line {
  -webkit-animation: circleAnim 1s forwards;
  animation: circleAnim 1s forwards;
}

.box.green .percent .line {
  stroke: #1fd26c;
}

.box.yellow .percent .line {
  stroke: #ffd400;
}

.box.red .percent .line {
  stroke: #ff3051;
}

@-webkit-keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%,
  to {
    stroke-dasharray: 314 314;
  }
}

@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%,
  to {
    stroke-dasharray: 314 314;
  }
}

.movie-overview-title {
  margin-top: 2dvh;
  font-weight: bold;
  font-size: 18px;
}

.movie-overview {
  margin-top: 1dvh;
  overflow-y: scroll;
}

.movie-material {
  font-size: 12px;
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}

.animate-bg {
  animation: bgChange 0.5s infinite alternate;
}

.result-bg {
  background: #fffffe;
}

@keyframes bgChange {
  0% {
    background-color: #bbeee6;
  }
  50% {
    background-color: #ece3b8;
  }
  100% {
    background: linear-gradient(135deg, #bbeee6, #ece3b8);
  }
}

.download-button {
  display: flex;
  margin-left: auto;
  border: solid #b8c1ec;
  border-radius: 24px;
  color: #b8c1ec;
  font-weight: bold;
  background-color: transparent;
  padding: 4px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.download-button:hover {
  background-color: #b8c1ec;
  color: #232946;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .movie {
    width: calc((100% / 5) - 8dvw / 5);
  }
  .movie-poster-fav-img {
    width: 16dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
  .subject {
    display: flex;
  }
  .subject p {
    margin-left: 3dvw;
  }
  .clear-selection-button {
    margin-left: 12px;
  }
  .detail-right {
    width: calc(100% - 20dvw); /* Adjust the width to accommodate the detail-left */
    margin-right: 2dvw;
  }
  .detail-left {
    width: 20dvw;
    margin-right: 2dvw;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    width: calc((100% / 3) - 4dvw / 3);
  }
  .movie-poster-fav-img {
    width: 29.3dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
  .subject {
    display: block;
  }
  .subject p {
    margin-left: 0;
  }
  .clear-selection-button {
    margin-top: 8px;
  }
  .detail-left {
    width: 20dvw;
    margin-right: 2dvw;
  }
  .detail-right {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .movie {
    width: calc((100% / 2) - 2dvw / 2);
  }
  .movie-poster-fav-img {
    width: 47dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
  .subject {
    display: block;
  }
  .subject p {
    margin-left: 0;
  }
  .clear-selection-button {
    margin-top: 8px;
  }
  .detail {
    flex-flow: column;
  }
  .detail-left {
    width: 100%;
  }
  .detail-right {
    width: 100%;
    margin-top: 4dvw;
  }
  .movie-title-wrapper {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
  }
  .download-button {
    width: 100%;
    text-align: center;
    display: block;
  }
}
