.body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

.main {
  box-sizing: border-box;
  width: 100dvw;
  margin-bottom: 4dvh;
  padding-top: 2dvh;
  padding-left: 6dvw;
  padding-right: 6dvw;
}

.detail {
  display: flex;
  margin-top: 2dvh;
}

.movie-poster-wrapper {
  position: relative;
}

.movie-poster {
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 3;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
}

.movie-poster-img {
  width: 100%;
  height: 100%;
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.theater-btn {
  cursor: pointer;
  text-align: center;
  padding: 6px 12px;
  font-weight: bold;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 0 0 2px 2px;
}

.theater-btn:hover {
  background-color: #b8c1ec;
  color: #232946;
}

.movie-title-wrapper {
  align-items: center;
  display: flex;
}

.movie-title {
  font-size: 20px;
}

.movie-homepage-link {
  color: #b8c1ec;
  font-weight: bold;
  margin-left: 24px;
  cursor: pointer;
}

.movie-tagline {
  margin-top: 1dvh;
  font-style: italic;
  font-size: 18px;
}

.movie-release-date {
  margin-top: 1vh;
}

.movie-runtime {
  margin-left: 2dvw;
}

.movie-score {
  margin-top: 2dvh;
  display: flex;
  align-items: center;
}

.movie-score p {
  font-size: 18px;
  font-weight: bold;
}

.box {
  position: relative;
  width: 33.3333333333%;
  display: flex;
}

@media screen and (max-width: 750px) {
  .box {
    width: 100%;
  }
}

@media screen and (min-width: 751px) {
  .box + .box {
    margin-left: 20px;
  }
}

@media screen and (max-width: 750px) {
  .box + .box {
    margin-top: 20px;
  }
}

.box .percent {
  position: relative;
  width: 150px;
  height: 150px;
}
.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.box .percent svg circle {
  position: relative;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 314;
  stroke-dashoffset: 0;
  stroke-linecap: round;
}
.box .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fffffe;
}
.box .percent .number .title {
  font-size: 24px;
}
.box .percent .number .title span {
  font-size: 18px;
}

.box .percent .line {
  -webkit-animation: circleAnim 1s forwards;
  animation: circleAnim 1s forwards;
}

.box.green .percent .line {
  stroke: #1fd26c;
}

.box.yellow .percent .line {
  stroke: #ffd400;
}

.box.red .percent .line {
  stroke: #ff3051;
}

@-webkit-keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%,
  to {
    stroke-dasharray: 314 314;
  }
}

@keyframes circleAnim {
  0% {
    stroke-dasharray: 0 314;
  }
  99.9%,
  to {
    stroke-dasharray: 314 314;
  }
}

.movie-overview-title {
  margin-top: 2dvh;
  font-weight: bold;
  font-size: 18px;
}

.movie-overview {
  margin-top: 1dvh;
  overflow-y: scroll;
  height: 22dvh;
}

.detail-right {
  width: 66dvw;
}

.director-box {
  margin-top: 4dvh;
  padding: 1% 2%;
  border-radius: 2px;
  background-color: #b8c1ec;
  color: #232946;
}

.director-profile {
  margin-top: 1%;
  display: flex;
  width: 100%;
}

.director-img {
  height: auto;
}

.director-movie-subject {
  margin-top: 16px;
}

.director-movies {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
}

.director-movie {
  flex-flow: column;
  display: block;
  width: 100%;
  height: 100%;
}

.director-movie-poster {
  overflow: hidden;
  box-sizing: border-box;
}

.director-movie-img {
  height: auto;
  aspect-ratio: 2 / 3;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.director-movie-poster:hover .director-movie-img {
  transform: scale(1.1);
}

.director-movie-title {
  padding: 1%;
  font-size: 80%;
  font-weight: bold;
}

.cast-box {
  margin-top: 4dvh;
  padding: 1% 2%;
  border-radius: 2px;
  background-color: #b8c1ec;
  color: #232946;
}

.casts {
  width: 100%;
  max-width: 100%;
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
  margin-top: 1%;
}

.cast {
  margin-right: 1%;
  margin-bottom: 2%;
}

.cast-name {
  padding: 1%;
  font-size: 80%;
  font-weight: bold;
}

.cast-img {
  height: auto;
}

@media screen and (min-width: 768px) {
  .detail-left {
    width: 20dvw;
    margin-right: 2dvw;
  }
  .dirctor-left {
    width: 20%;
  }
  .director-img {
    width: 20dvw;
  }
  .director-right {
    width: 74%;
    margin-left: 2%;
  }
  .director-movie-img {
    width: 12dvw;
  }
  .director-movie-title {
    width: 12dvw;
  }
  .cast-img {
    width: 16dvw;
  }
  .cast-name {
    width: 16dvw;
  }
}

@media screen and (max-width: 768px) {
  .detail-left {
    width: 20dvw;
    margin-right: 2dvw;
  }
  .dirctor-left {
    width: 20%;
  }
  .director-img {
    width: 20dvw;
  }
  .director-right {
    width: 74%;
    margin-left: 2%;
  }
  .director-movie-img {
    width: 12dvw;
  }
  .director-movie-title {
    width: 12dvw;
  }
  .cast-img {
    width: 16dvw;
  }
  .cast-name {
    width: 16dvw;
  }
}

@media screen and (max-width: 480px) {
  .detail {
    flex-flow: column;
  }
  .detail-left {
    width: 88dvw;
  }
  .detail-right {
    width: 88dvw;
    margin-top: 4dvw;
  }
  .movie-homepage-link {
    margin-left: 0;
    margin-bottom: 1vh;
  }
  .movie-title-wrapper {
    display: flex;
    flex-flow: column-reverse;
    align-items: flex-start;
  }
  .director-profile {
    flex-flow: column;
  }
  .dirctor-left {
    width: 81dvw;
  }
  .director-img {
    width: 84dvw;
  }
  .director-right {
    width: 81dvw;
  }
  .director-movie-img {
    width: 30dvw;
  }
  .director-movie-title {
    width: 30dvw;
  }
  .cast-img {
    width: 30dvw;
  }
  .cast-name {
    width: 30dvw;
  }
}
