.favorite-button {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 254, 0.8);
  border: none;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  outline: none;
  width: 30px;
  height: 30px;
}

.favorite-button .svg-inline--fa {
  color: darkgoldenrod;
}
