.footer {
  bottom: 0;
  box-sizing: border-box;
  align-items: center;
  width: 100dvw;
  height: 11dvh;
  margin: 0 auto;
  padding: 0 6dvw;
  font-size: 20px;
  background-color: #000000;
}

.footer-upper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7dvh;
}

.footer-lower {
  display: block;
  justify-content: center;
  align-items: center;
  height: 4dvh;
}

.tmdb-logo {
  margin-right: 8px;
  text-align: center;
}

.tmdb-logo-img {
  margin: auto;
  vertical-align: middle;
}

.tmdb-logo-text {
  font-size: 8px;
  text-align: center;
}

.footer-logo {
  font-weight: bold;
  margin-left: 8px;
  margin-right: 8px;
}

.footer-logo a {
  text-decoration: none;
  color: #fffffe;
}

.footer-logo p span {
  color: #eebbc3;
}

.twitter-icon {
  margin-left: 8px;
}

.twitter-icon-img {
  margin: auto;
  vertical-align: middle;
}
