.header {
  box-sizing: border-box;
  width: 100dvw;
  height: 8dvh;
  display: flex;
  align-items: center;
  padding: 0 6dvw;
  font-size: 20px;
  background-color: #232946;
  border-bottom: solid #fffffe;
  z-index: 999;
}

.header-logo {
  font-weight: bold;
  text-decoration: none;
  margin-left: auto;
}

.header-logo a {
  text-decoration: none;
  color: #fffffe;
}

.header-logo p span {
  color: #eebbc3;
}

.header-top,
.header-create,
.header-favorites,
.header-sign {
  display: flex;
  font-weight: bold;
}

.header-top p,
.header-create p,
.header-favorites p {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  margin-left: 4dvw;
  color: #232946;
  font-size: 18px;
}

.header-top p::after,
.header-create p::after,
.header-favorites p::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #232946;
  transition: all 0.3s ease;
}

.header-top p:hover::after,
.header-create p:hover::after,
.header-favorites p:hover::after {
  width: 100%;
  left: 0;
}

.header-top p:hover,
.header-create p:hover,
.header-favorites p:hover {
  color: #232946;
}

.header-sign a {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  margin-left: 4dvw;
  color: #232946;
  font-size: 18px;
}

.header-sign a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #232946;
  transition: all 0.3s ease;
}

.header-sign a:hover::after {
  width: 100%;
  left: 0;
}

.header-sign a:hover {
  color: #232946;
}

.sign-out,
.sign-in {
  padding: 5px 0px;
  cursor: pointer;
}
