.body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

.main {
  position: absolute;
  top: 8dvh;
  left: 0;
  box-sizing: border-box;
  height: 81dvh;
  width: 100dvw;
  pointer-events: none;
}

.indention {
  display: inline-block;
}

.search-movie {
  padding: 0 6dvw;
}

.search-movie h1 {
  font-size: 40px;
}

.search-movie p {
  font-size: 18px;
  margin-bottom: 4dvh;
}

.search-container {
  box-sizing: border-box;
  border: 6px solid #b8c1ec;
  background-color: #fffffe;
  display: flex;
  padding-left: 10px;
  border-radius: 3px;
  height: 3.6em;
  width: 100%;
  overflow: hidden;
  pointer-events: fill;
}

.search-container input[type="text"] {
  border: none;
  width: 92%;
  background-color: #fffffe;
  font-size: 16px;
  color: #232946;
}

.search-container input[type="text"]:focus {
  outline: none;
}

.search-container input[type="submit"] {
  cursor: pointer;
  border: none;
  border-left: solid 6px #b8c1ec;
  background-color: #eebbc3;
  font-size: 20px;
  font-weight: bold;
  color: #232946;
  outline: none;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 27dvh;
  }
  .search-container input[type="submit"] {
    width: 10%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 24dvh;
  }
  .search-container input[type="submit"] {
    width: 16%;
  }
}

@media screen and (max-width: 480px) {
  .main {
    padding-top: 22dvh;
  }
  .search-container input[type="submit"] {
    width: 24%;
  }
}
