.body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

.main {
  box-sizing: border-box;
  width: 100dvw;
  padding-top: 2dvh;
  padding-left: 6dvw;
  padding-right: 6dvw;
  min-height: 81dvh;
}

.subject {
  align-items: center;
}

.subject p {
  font-size: 18px;
}

.movies {
  flex-wrap: wrap;
  display: flex;
  list-style-type: circle;
}
.movie {
  list-style-type: none;
  margin-top: 2dvh;
  margin-bottom: 2dvh;
  margin-left: 2dvw;
  transition: all 0.2s ease 0s;
}
.movie-poster-img {
  border-radius: 2px 2px 0 0;
  vertical-align: bottom;
  transition: all 0.5s ease 0s;
}

.movie:hover {
  border-radius: 4px;
  background: #232946;
  box-shadow: 20px 20px 60px #0e101c;
}

.movie-poster-wrapper {
  position: relative;
}

.movie-poster {
  overflow: hidden;
  box-sizing: border-box;
}

.movie:hover .movie-poster-img {
  transform: scale(1.1);
}

.theater-btn {
  cursor: pointer;
  text-align: center;
  padding: 2px 12px;
  font-weight: bold;
  color: #232946;
  background-color: #eebbc3;
  border-radius: 0 0 2px 2px;
}
.theater-btn:hover {
  background-color: #b8c1ec;
  color: #232946;
}

.movie-title {
  display: block;
  font-weight: bold;
  margin-top: 4px;
  font-size: 16px;
  transition: all 0.2s ease 0s;
}

.movie-title p a {
  text-decoration: none;
  color: #fffffe;
}

.movie-title p a:hover {
  color: #b8c1ec;
}

.movie-release-date {
  display: block;
  font-size: 14px;
  transition: all 0.2s ease 0s;
}

.movie:hover .movie-title {
  padding: 4px 4px 0 4px;
}

.movie:hover .movie-release-date {
  padding: 4px 4px 0 4px;
}

.more-movie-button {
  text-align: center;
  margin-top: 52px;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .movie {
    width: calc((100% / 5) - 8dvw / 5);
  }
  .movie-poster-img {
    width: 16dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
  .movie:nth-child(5n + 1) {
    margin-left: 0;
  }
  .subject {
    display: flex;
  }
  .subject p {
    margin-left: 3dvw;
  }
  .more-movie-button a {
    cursor: pointer;
    padding: 28px 160px;
    border: 1px solid #fffffe;
    border-radius: 18px;
    font-size: 18px;
    color: #fffffe;
  }
}

@media screen and (max-width: 768px) {
  .movie {
    width: calc((100% / 3) - 4dvw / 3);
  }
  .movie-poster-img {
    width: 29.3dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }

  .movie:nth-child(3n + 1) {
    margin-left: 0;
  }
  .subject {
    display: block;
  }
  .subject p {
    margin-left: 0;
  }
  .more-movie-button a {
    cursor: pointer;
    padding: 28px 160px;
    border: 1px solid #fffffe;
    border-radius: 18px;
    font-size: 18px;
    color: #fffffe;
  }
}

@media screen and (max-width: 480px) {
  .movie {
    width: calc((100% / 2) - 2dvw / 2);
  }
  .movie-poster-img {
    width: 47dvw;
    height: auto;
    aspect-ratio: 2 / 3;
  }
  .movie:nth-child(2n + 1) {
    margin-left: 0;
  }
  .movie:nth-child(2n + 2) {
    margin-left: 2dvw;
  }
  .subject {
    display: block;
  }
  .subject p {
    margin-left: 0;
  }
  .more-movie-button a {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    padding: 28px 0;
    border: 1px solid #fffffe;
    border-radius: 18px;
    font-size: 18px;
    color: #fffffe;
  }
}
