.body {
  box-sizing: border-box;
  background-color: #232946;
  color: #fffffe;
  display: block;
  height: 100%;
}

.main {
  box-sizing: border-box;
  width: 100dvw;
  padding-top: 2dvh;
  padding-left: 6dvw;
  padding-right: 6dvw;
  min-height: 81dvh;
}

.subject {
  align-items: center;
}

.subject p {
  font-size: 18px;
}

.near-theaters-btn .active {
  border: 1px solid #eebbc3;
  color: #eebbc3;
  font-weight: bold;
}

.search-theaters-wrapper .active {
  border: 1px solid #eebbc3;
}

.search-theaters-wrapper .active p {
  color: #eebbc3;
  font-weight: bold;
}

.theater-wrapper {
  flex-wrap: wrap;
  display: flex;
  margin-top: 2dvh;
  margin-bottom: 2dvh;
}

.near-theaters-btn {
  cursor: pointer;
  text-align: center;
  padding: 14px 8px;
  color: #232946;
  border-radius: 0 0 2px 2px;
  border-radius: 4px;
  border: 0.5px solid #fffffe;
  color: #fffffe;
}

.area-search-wrapper {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border: 0.5px solid #fffffe;
  border-radius: 4px;
  justify-content: center;
}

.select-area {
  margin-left: 6px;
  color: #232946;
}

.near-theaters span {
  margin-left: 16px;
}

.date-menu {
  display: flex;
  overflow-x: scroll;
  box-sizing: border-box;
  list-style-type: none;
  flex-wrap: nowrap;
  border-bottom: 1px solid #b8c1ec;
  width: 100%;
}

.date {
  cursor: pointer;
  display: block;
  text-align: center;
  box-sizing: border-box;
  white-space: nowrap;
  border-left: 1px solid #b8c1ec;
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 0 0 auto;
  width: 140px;
}

.date:first-child {
  border-left: 0;
}

.date:hover {
  border-bottom: 3px solid #b8c1ec;
  color: #b8c1ec;
  font-weight: bold;
}

.date-menu .active {
  border-bottom: 3px solid #eebbc3;
  color: #eebbc3;
  font-weight: bold;
}

.theaters {
  margin-top: 8px;
}

.theater {
  border-bottom: 0.5px solid #b8c1ec;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.theater:last-child {
  border-bottom: 0;
}

.theater:hover {
  background-color: #31395d;
}

.theater-number {
  background-color: #ea4335;
  color: #000000;
  display: inline-block;
  text-align: center;
  width: 24px;
  border-radius: 16px;
}

.theater-name {
  font-weight: bold;
  font-size: 18px;
}

.theater-detail {
  display: flex;
  margin-top: 12px;
  font-size: 14px;
}

.theater-type {
  width: 100px;
}

.theater-time {
  display: flex;
  margin-left: 24px;
}

.theater-time div {
  margin-right: 32px;
  width: 40px;
}

.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  border: 4px solid rgba(255, 255, 255, 0.5); /* 白っぽい色に設定 */
  border-left-color: #fffffe; /* 左側の色を白に設定 */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.loading-text {
  margin-top: 20px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .subject {
    display: flex;
  }
  .subject p {
    margin-left: 3dvw;
  }
  .search-theaters-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .near-theaters {
    margin-bottom: 16px;
  }
  .theater-left {
    width: 46dvw;
    padding-right: 32px;
  }
  .near-theaters-wrapper {
    margin-right: 12px;
  }
  .theater-right {
    position: fixed;
    left: 52dvw;
    width: 42dvw;
    height: 70dvh;
  }
  .theater-map {
    width: 100%;
    height: 64dvh;
    border-radius: 2px;
    margin-top: 4dvh;
  }
}

@media screen and (max-width: 768px) {
  .subject {
    margin-left: 0;
  }
  .subject p {
    margin-left: 0;
  }
  .search-theaters-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .near-theaters {
    margin-bottom: 16px;
    margin-top: 12px;
  }
  .theater-wrapper {
    display: flex;
    flex-flow: column-reverse;
  }
  .theater-left {
    width: 100%;
  }
  .near-theaters-wrapper {
    margin-right: 12px;
  }
  .theater-right {
    width: 100%;
  }
  .theater-map {
    width: 100%;
    height: 48dvh;
    border-radius: 2px;
  }
}

@media screen and (max-width: 480px) {
  .subject {
    margin-left: 0;
  }
  .subject p {
    margin-left: 0;
  }
  .search-theaters-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .near-theaters {
    margin-bottom: 16px;
    margin-top: 12px;
  }
  .theater-wrapper {
    display: flex;
    flex-flow: column-reverse;
  }
  .theater-left {
    width: 100%;
  }
  .near-theaters-wrapper {
    margin-right: 2dvw;
  }
  .near-theaters-btn {
    width: 24dvw;
  }
  .area-search-wrapper {
    width: 62dvw;
  }
  .theater-right {
    width: 100%;
  }
  .theater-map {
    width: 100%;
    height: 48dvh;
    border-radius: 2px;
  }
}
